{% extends "kharch/base.html" %}
{% load staticfiles %}

{% block title %}
	<title > Manage your Expense | ExpenseExpress </title>
{% endblock %}

{% block css %}

{% endblock %}
	
{% block js %}

{% endblock %}



{% block site_wrapper %}
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-5">
				<form method="post" action="{% url 'kharch:edit_item' %}">
					{% csrf_token %}
					
					<select  onchange="filter_item(this,{{ cat_code }})" name="category">
						<option value="SL">Select any Category</option>
					{% for category in categories %}
						<option value="{{ category.code }}">{{ category.name }}</option>
					{% endfor %}
					</select>
					<br/><br/>
					{% for item in items %}
					
					<div class="{{item.category.code}}" >

						<input type="checkbox" name="items[]" value="{{ item.name }}">
						
						<input type="text" name="{{ item.name }}" value="{{ item.name }}"  size="20" />&nbsp;&nbsp;
						<input type="text" name="{{ item.name }}_cost" value="{{ item.cost }}" maxlength="6" size="6" />
						&nbsp;&nbsp;
						<select name="{{item.name}}_sel">

						{% for category in categories %}
							
							{% if item.category.code == category.code  %}
								<option value="{{ category.code }}" selected>{{ category.name }}</option>
							{% else %}
								<option value="{{ category.code }}">{{ category.name }}</option>
							{% endif %}
						{% endfor %}
						</select>

						<br/><br/>
					</div>
					{% endfor %}

					<input type="hidden" value="Item" name="hidden">
					<button class="btn btn-info btn-block" type="submit" alt="Edit" id="edit_item">Edit</button>
					<a class="btn btn-danger btn-block" href="{% url 'kharch:delete_item' %}" role="button">Delete</a>
					<a class="btn btn-warning btn-block" href="{% url 'kharch:add_item' %}" role="button">Add</a>

				</form>
					
			</div>
			<div class="col-md-5"></div>
		</div>
	</div>
	
{% endblock %}