{% extends "kharch/base.html" %}
{% load staticfiles %}

{% block title %}
	<title > Manage your Expense | ExpenseExpress </title>
{% endblock %}

{% block css %}

{% endblock %}
	
{% block js %}
	
{% endblock %}



{% block site_wrapper %}
<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				{% for site in payment_method %}
					<a class="btn btn-info btn-block" href="{{site.url}}" role="button">Pay via {{site.code}}</a>
				{% endfor %}

			</div>
		</div>
</div>


{% endblock %}