{% extends "kharch/base.html" %}
{% load staticfiles %}

{% block title %}
	<title > Manage your Expense | ExpenseExpress </title>
{% endblock %}

{% block css %}

{% endblock %}
	
{% block js %}
{% endblock %}



{% block site_wrapper %}
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-4">
				<form action="#" method="post">
					
					
					<button class="btn  btn-success btn-block " type="submit" alt="Add Country">Add</button>
					
				</form>
			</div>
			<div class="col-md-5"></div>
		</div>
	</div>
	
{% endblock %}