{% extends "kharch/base.html" %}
{% load staticfiles %}

{% block title %}
	<title > Manage your Expense | ExpenseExpress </title>
{% endblock %}

{% block css %}

{% endblock %}
	
{% block js %}
{% endblock %}

{% block site_wrapper %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="{% url 'utils:get_states' country=country.abrcode%}">{{country.name}}</a> => States
				{% if states|length > 0%}
				<table class="table table-striped">
		            <thead>
		              <tr>
		                <th>#</th>
		                <th>State</th>
		                <th>Abrivation</th>
		                <th>Count</th>
		                <th>Code</th>
		              </tr>
		            </thead>
		            <tbody>
		            
		            {% for st in states %}
			            <tr>
			            	<td>{{ forloop.counter }}</td>
			            	<td><a href="{% url 'utils:get_districts' country=st.country.abrcode state=st.abrcode %}">{{ st.state }}</a> </td>
			            	<td> </td>
			            	<td>{{ st.vcount }}</td>
			            	<td>{{ st.code }}</td>
			            </tr>
			        {% endfor %}
			        </tbody>
			    </table>
			    {% else %}
			    <br>
			    <form action="{% url 'utils:get_states' country=country.abrcode %}" method="post">
			    	{% csrf_token %}
			    	<button class="btn  btn-success" type="submit" alt="Download">Download</button>
			    	
			    </form>
			    {% endif %}
			    
			</div>
		</div>
	</div>
	
{% endblock %}